:root {
  --header-height: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Unbounded', sans-serif;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
